@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
a#adLink{
    display:inline-block;
    text-decoration: none;
}
#adContainer
{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    color:#ffffff;
    background-color: #666666;
    width:728px;
    height:90px;
    border: 1px solid #666;
    position:relative;
    overflow:hidden;
    text-decoration: none;
}
.adPos{
    position:absolute;
    top:0;
    left:0;
}
#adBgImage{
    background: url('../img/css_sprite.png') no-repeat top left ;
    width: 728px;
    height: 90px;
}
#adBox{
    width:728px;
    height:90px;
    background-color: #870F83;
    overflow: hidden;
    #adBoxTxtWrap{
        width: 600px;
    height: inherit;
   left: 20px;
    overflow: hidden;
    }
}
#adTxt1, #adTxt2{
    width:420px;
    font-weight:700;
    font-size:25px;
    display:inline-block;
    position: absolute;
    left: 20px;
    line-height: 29px;
}
#adTxt1{
    top:17px;
}
#adTxt2{
    color:#AA63A8;
    top:46px;
    .adTrade{
    vertical-align: text-top;
    font-size: 16px;
    }
}
#adCta{
     width:121px;
    height:25px;
    top: 50px;
    left: 295px;
    #adCtaBg, #adCtaTxt, #adCtaArrow{
        display:inline-block;
    position: absolute;
    }
    #adCtaBg{
        width:inherit;
        height:inherit;
       background-color: #0099cc;
        left:0;
    }
    #adCtaTxt{
        font-weight:700;
        font-size: 14px;
        top:5px;
        left:8px;
    }
    #adCtaArrow{
        top: 0px;
    left: 100px;
    }
}
#adBoxRect, #adCtaRect{
    height:10px;
}
#adCtaRect{
    background-color: #0099cc;
    width:120px;
    top: 215px;
    left: 180px;
}
#adLogo1{
     background: url('../img/css_sprite.png') no-repeat 0 -96px;
    top:15px;
    left:549px;
    width:160px;
    height:60px;
}
#adLogo2{
     background: url('../img/css_sprite.png') no-repeat 0 -160px;
    top:15px;
    left:549px;
    width:160px;
    height:60px;
}
#adFader{
    width: inherit;
    height: inherit;
    background-color: #0099cc;
    opacity: 0;
}
#adPlay {
    img{
    display: inline-block;
    width:75px;
    }
    top:8%;
    left:45%;
}